<div class="fb-like"><fb:like href="www.mjpiano.co.uk" layout="button_count" send="true" show_faces="false" font="arial"></fb:like></div>
<a href="http://www.facebook.com/markmjpiano" target="_blank" title="View My Facebook Page"><span class="social-icon facebook"></span></a>
<a href="http://twitter.com/mark_mjpiano" target="_blank" title="View My Twitter Page"><span class="social-icon twitter"></span></a>
<a href="http://uk.linkedin.com/in/mjpiano" target="_blank" title="View My LinkedIn Page"><span class="social-icon linkedin"></span></a>
<a href="https://profiles.google.com/111548012360394022250" rel="me" title="View My Google Plus Page"><span class="social-icon googleplus"></span></a>
<a href="http://www.youtube.com/markmjpiano" target="_blank" title="View My Youtube Channel"><span class="social-icon youtube"></span></a>
<a href="mailto:{{ site.email }}" title="E-Mail Me"><span class="social-icon email"></span></a>
   
