/*PRICE PAGE defined styles*/
#Prices .quoteCalculator {
  width: 460px;
  padding: 1em;
  border: solid white 3px;
  
  .googleMap {
    position: absolute;
    right:0;
    bottom:0;
    height:200px;
    margin:20px;
    width:250px;
  }
  h1 { padding:0; }
  
  .label {
    display:inline-block;
    width: 300px;
  }
  
  .formRow { margin:0.5em 0; }
  
  .ui-messageBox { padding: 0 0.5em; }
}


/*OCCASIONS PAGE defined styles*/
#Occasions li {
  list-style-type: disc;
  margin-left: 1em;
}


/*MUSIC PAGE defined styles*/
#Music {
  .youtube-music {
    float: left;
    li a {
      display: inline-block;
      background: image-url('Play Button.png') no-repeat;
      padding: 0.1em 0 0.1em 25px;
      height:20px;
      text-decoration:none;
      
      &:hover { text-decoration:underline; }
    }
  }
  
  .youtube-video {
    text-align: center;
    margin: 2em;

    li {
      display: inline-block;
      
      margin: 0 2em;
      a {
        display: block;
        text-align: center;
        text-decoration:none;
        padding: 4px;

        span, img { display: block; }

        img {
          max-width: none;
          margin: 2px;
        }

        &:hover {
          span { text-decoration:underline; }
          opacity: 0.4;
        }
      }
    }

    @media only screen and (min-width: $full-screen-width) {
      float: right;
      margin: 0;
    }
  }
}

